<nav class="topnav">
  <div class="left-box mt-auto">
    <ul class="navbar-nav navbar-expand-md justify-content-end">
      <li>
        <a class="nav-link mt-auto" href="https://www.volkis.com.au/about/"
          >About Volkis</a
        >
      </li>
      <li>
        <a class="nav-link mt-auto" href="https://www.volkis.com.au/services/"
          >What we do &nbsp;<i class="fas fa-angle-down"></i
        ></a>
        <div class="nav-dropdown has-shadow">
          <a
            href="https://www.volkis.com.au/services/penetration-testing/"
            class="subnav-item nav-link"
            >Penetration Testing</a
          >
          <a
            href="https://www.volkis.com.au/services/red-team/"
            class="subnav-item nav-link"
            >Red Team</a
          >
          <a
            href="https://www.volkis.com.au/services/cloud-security-assessment/"
            class="subnav-item nav-link"
            >Cloud Security Assessment</a
          >
          <a
            href="https://www.volkis.com.au/services/social-engineering/"
            class="subnav-item nav-link"
            >Social Engineering</a
          >
          <a
            href="https://www.volkis.com.au/services/physical-intrusion/"
            class="subnav-item nav-link"
            >Physical Intrusion</a
          >
          <a
            href="https://www.volkis.com.au/services/security-review/"
            class="subnav-item nav-link"
            >Security Review</a
          >
          <a
            href="https://www.volkis.com.au/services/security-strategy"
            class="subnav-item nav-link"
            >Security Strategy</a
          >
          <a
            href="https://www.volkis.com.au/services/compliance/"
            class="subnav-item nav-link"
            >Compliance</a
          >
          <a
            href="https://www.volkis.com.au/services/executive-education/"
            class="subnav-item nav-link"
            >Executive Education</a
          >
        </div>
      </li>
    </ul>
  </div>
  <div class="nav-logo">
    <a href="https://www.volkis.com.au/">
      <img src="/assets/img/Volkis_Logo.svg" alt="" />
    </a>
  </div>
  <div class="right-box mt-auto">
    <ul class="navbar-nav navbar-expand-md">
      <li>
        <a class="nav-link mt-auto" href="https://www.volkis.com.au/contact/"
          >Get in touch</a
        >
      </li>
      <li>
        <a class="nav-link mt-auto" href="https://www.volkis.com.au/blog/"
          >Blog</a
        >
      </li>
    </ul>
  </div>
</nav>

<nav class="topnav-mobile">
  <div class="nav-logo text-center">
    <a href="https://www.volkis.com.au"
      ><img src="/assets/img/Volkis_Logo.svg" alt="Volkis logo"
    /></a>
  </div>
  <div class="nav-buttons d-flex">
    <a href="#" class="nav-sandwich my-auto">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </a>
  </div>
  <div class="mobile-nav-menu">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link mt-auto" href="https://www.volkis.com.au/about/"
          >About Volkis</a
        >
      </li>
      <li>
        <a class="nav-link mt-auto" href="https://www.volkis.com.au/services/"
          >What we do &nbsp;<i class="fas fa-angle-down"></i
        ></a>
        <div class="nav-dropdown">
          <a
            href="https://www.volkis.com.au/services/penetration-testing/"
            class="subnav-item nav-link"
            >Penetration Testing</a
          >
          <a
            href="https://www.volkis.com.au/services/red-team/"
            class="subnav-item nav-link"
            >Red Team</a
          >
          <a
            href="https://www.volkis.com.au/services/cloud-security-assessment/"
            class="subnav-item nav-link"
            >Cloud Security Assessment</a
          >
          <a
            href="https://www.volkis.com.au/services/social-engineering/"
            class="subnav-item nav-link"
            >Social Engineering</a
          >
          <a
            href="https://www.volkis.com.au/services/physical-intrusion/"
            class="subnav-item nav-link"
            >Physical Intrusion</a
          >
          <a
            href="https://www.volkis.com.au/services/security-review/"
            class="subnav-item nav-link"
            >Security Review</a
          >
          <a
            href="https://www.volkis.com.au/services/security-strategy"
            class="subnav-item nav-link"
            >Security Strategy</a
          >
          <a
            href="https://www.volkis.com.au/services/compliance/"
            class="subnav-item nav-link"
            >Compliance</a
          >
          <a
            href="https://www.volkis.com.au/services/executive-education/"
            class="subnav-item nav-link"
            >Executive Education</a
          >
        </div>
      </li>
      <li>
        <a class="nav-link mt-auto" href="https://www.volkis.com.au/contact/"
          >Get in touch</a
        >
      </li>
      <li>
        <a class="nav-link mt-auto" href="https://www.volkis.com.au/blog/"
          >Blog</a
        >
      </li>
    </ul>
  </div>
</nav>
